
<div class="blog-masthead">
	<div class="container">
        <div class="navbar-brand">
            <a class='title' href="/">Schroer.CA</a>
            <span class='right-content'>
                <a href="/atom.xml"><img src='images/rss.png'/></a>
            </span>
        </div>
	</div>
</div>