<div class="blog-masthead">
    <div class="container">
        <div class="navbar-brand">
            <a class='title' href="/">Schroer.CA</a>

            <span class="right">
                <span class=''>
                    <a href="/atom.xml"><img alt="RSS Feed" src='/images/rss.png' /></a>
                </span>
            </span>

        </div>
    </div>
</div>